.choose__container {
  border-radius: 10px;
  margin-top: 189px;
  background-color: #2c343e;
  padding: 100px 0px 86px 0px;
  text-align: center;
  margin-bottom: 351px;
}
.choose__title {
  @include bag-title;
  font-size: 40px;
  color: #fefcf7;
  margin-bottom: 32px;
}
.choose__text {
  @include texts;
  color: #fefcf7;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1110px;
}
.choose__img {
  max-width: 71px;
  height: 72px;
  margin-bottom: 56px;
}
.cards__choose {
  border-radius: 8px;
  background-color: $yashil;
  padding: 72px 48px 48px 47px;
  margin-bottom: -250px;
}
.card__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
  margin-bottom: 24px;
}
.card__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  max-width: 255px;
}

@media only screen and (max-width: 768px) {
  .choose__title {
    font-size: 32px;
  }
  .choose__text {
    font-size: 15px;
    line-height: 25px;
  }
  .cards {
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 573px;
    margin-bottom: -500px;
  }
  .cards__choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
    text-align: start;
    padding: 41px 48px 41px 70px;
  }
  .card__text {
    max-width: 344px;
  }
  .choose__img {
    max-width: 55px;
    height: 56px;
    margin-top: 62px;
  }
}
@media only screen and (max-width: 375px) {
  .choose__title {
    font-size: 28px;
    line-height: 28px;
  }
  .card__text {
    max-width: 279px;
  }
  .cards {
    max-width: 279px;
    margin-bottom: -650px;
  }
  .cards__choose {
    display: block;
    text-align: center;
    padding: 0;
    padding-bottom: 24px;
    max-width: 100%;
  }
  .card__text {
    max-width: 212px;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
  }
  .choose__img {
    max-width: 71px;
    height: 72px;
  }
}
