.create__card-container {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  flex-wrap: wrap;
}
.menu__list {
  max-width: 255px;
}
.menu__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #83888f;
  opacity: 0.25;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 1;
  }
}
.menu__item:last-child {
  border: none;
}
.menu__title,
.menu__title2 {
  @include bag-title;
  margin-right: 29px;
}
.menu__item:hover .menu__title {
  color: #0e8784;
}
.create__cards-title {
  position: relative;
  @include create-cards-title;
  padding-right: 80px;
  margin-bottom: 56px;
}
.create__cards-title::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 12px;
  background-image: url("../../img/create-vector.svg");
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 0;
}
.create__cards-item {
  padding: 32px 25px 84px 28px;
  background-color: #f4f1eb;
  border-radius: 8px;
  max-width: 228px;
  &:hover {
    background-color: #fdd6ba;
  }
  &:active {
    background-color: #0e8784;
    color: white;
  }
}
.create__cards-item:active .card__item-texts {
  color: white;
}

.card__item-title {
  @include bag-title;
  margin-bottom: 24px;
}
.card__item-texts {
  @include texts;
  max-width: 172px;
}
.create__cards-list {
  display: flex;
  justify-content: space-between;
}
.create__cards {
  margin-left: auto;
  margin-bottom: 88px;
}
.last__card {
  padding: 27px 64px 27px 64px;
  max-width: 730px;
  background-color: #2c343e;
  margin-bottom: 40px;
}
.last__card-title {
  @include last-card-title;
}
.last__card-text {
  @include last-card-text;
  color: white;
  margin-top: 8px;
  max-width: 602px;
}
.last__span {
  color: $yashil;
}
.last__btn-div {
  margin-left: auto;
  max-width: 180px;
}
@media only screen and (max-width: 1060px) {
  .menu__list {
    display: none;
  }
  .create__cards {
    margin-left: 0px;
  }
  .create__cards-title {
    font-size: 32px;
    line-height: 48px;
  }
  .create__cards-item {
    max-width: 223px;
  }
  .create__card-container {
    flex-direction: column;
  }
  .last__btn-div {
    margin: 0 auto;
  }
  .last__card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 741px) {
  .create__cards-item {
    max-width: 100%;
    padding: 24px 0px 24px 25px;
    margin-bottom: 16px;
  }
  .create__cards-list {
    flex-direction: column;
  }
  .create__cards-title {
    font-size: 24px;
    line-height: 28px;
  }
  .card__item-texts {
    max-width: 278px;
  }
}
