.site__header {
  margin-top: 44px;
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__list {
  @include flex;
}
.header__item:not(:last-child) {
  margin-right: 33px;
}
.header__link {
  @include links;
}
.logo__img {
  max-width: 203px;
  height: 23px;
}
.logo {
  display: inline-block;
}
.navbar__btn {
  width: 20px;
  height: 20px;
  background-image: url("../../img/burger-img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  display: none;
}
.navbar__mobil-list {
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  top: 93px;
  display: none;
}
.navbar__mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__mobile-item {
  margin-top: 40px;
}
.navbar__mobile-link {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
.open {
  display: flex;
}
.overflow {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .header__list {
    display: none;
  }

  .logo__img {
    max-width: 236px;
    height: 26px;
  }
  .navbar__btn {
    display: inline-block;
  }
}
