.woork__container {
  .work__box {
    margin-left: 50px;
    max-width: 1045px;
  }
  .work__title {
    @include bag-title;
    color: #83888f;
    margin-bottom: 80px;
  }
  .line {
    @include line;
    .line__span {
      @include line__spans;
    }
  }
  .work__list {
    @include flex;
    justify-content: space-between;
    .work__item {
      width: 285px;
      margin-top: 67px;
      margin-bottom: 64px;
    }
    .item__title {
      @include title-texts;
      color: #fdd6ba;
      margin-bottom: 38px;
    }
    .item__title2 {
      @include bag-title;
      line-height: 36px;
      margin-bottom: 42px;
    }
    .work__texs {
      @include texts;
    }
  }
  .work__btn {
    @include btn;
  }
}
@media only screen and (max-width: 768px) {
  .work__box {
    max-width: 689px;
    .line {
      max-width: 467px;
    }
    .work__item {
      max-width: 223px;
    }
    .item__title {
      font-size: 28px;
      line-height: 32px;
      max-width: 100px;
    }
    .work__texs {
      font-size: 15px;
      max-width: 223px;
      max-width: 100%;
    }
  }
}
@media only screen and (max-width: 375px) {
  .work__box {
    text-align: center;
    max-width: 100%;
  }
  .line__2 {
    display: none;
  }
  .work__title {
    margin-bottom: 0px;
  }
  .work__list {
    flex-wrap: wrap;
    text-align: center;
  }
  .item__title {
    margin: 0 auto;
  }
  .work__item {
    max-width: 100%;
  }
  .item__title-2 {
    font-size: 28px;
    max-width: 100%;
  }
  .work__btn {
    max-width: 217px;
  }
}
