.work__box {
  margin-left: 50px;
  max-width: 1045px;
}
.work__title {
  @include bag-title;
  color: #83888f;
  margin-bottom: 80px;
}
.line {
  @include line;
  margin-bottom: 82px;
}
.line__span {
  @include line__spans;
}
.work__list {
  @include flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.item__title {
  @include title-texts;
  color: #fdd6ba;
  margin-bottom: 38px;
}
.item__title2 {
  @include bag-title;
  line-height: 36px;
  margin-bottom: 42px;
  max-width: 150px;
}
.work__btn {
  @include btn;
}
.work__texs {
  @include texts;
  max-width: 285px;
}

@media only screen and (max-width: 1080px) {
  .work {
    margin-top: 544px;
  }
  .line {
    max-width: 487px;
  }
  .item__title {
    margin-bottom: 42px;
  }
  .item__title2 {
    font-size: 28px;
    line-height: 32px;
    max-width: 200px;
  }
  .work__texs {
    font-size: 15px;
    line-height: 25px;
    max-width: 223px;
  }
}
@media only screen and (max-width: 789px) {
  .work {
    margin: 0 auto;
    margin-top: 644px;
    text-align: center;
  }
  .line {
    display: none;
  }
  .work__list {
    flex-direction: column;
  }
  .work__list {
    margin: 0 auto;
    text-align: center;
  }
  .work__title {
    margin-bottom: 80px;
  }
  .work__box {
    margin: 0;
  }
  .work__texs {
    max-width: 327px;
  }
  .item__title {
    margin-bottom: 24px;
  }
  .item__title2 {
    font-size: 28px;
    max-width: 100%;
    margin-bottom: 24px;
  }
  .work__item {
    margin-bottom: 56px;
  }
}
